*, ::after, ::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header{
    text-align: center;
    padding-top : 20px;
    text-transform: uppercase;
}

.header h4{
    padding-top: 10px;
}

.header p{
    padding-top: 10px;
    text-transform : none;
}

.image{
    box-sizing: border-box;
    width: 450px;
    height: 450px;
    border: 2px solid radial-gradient(circle, rgba(255,75,75,1) 92%, rgba(255,75,75,1) 95%, rgba(199,57,57,1) 98%);
    border-radius: 5px;
    text-align: center;
    margin: auto;
    padding: 20px 0;
    margin-top: 20px;
    background: rgb(255,75,75);
    background: radial-gradient(circle, rgba(255,75,75,1) 92%, rgba(255,75,75,1) 95%, rgba(199,57,57,1) 98%);
}

img{
    border: 2px solid rgb(255, 75, 75);
}

.mot-a-trouver{
    margin-top: 20px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
}

.mot-a-trouver tbody{
    cursor: normal;
}

.clavier-pendu{
    margin-top: 20px;

}

table{
    border-collapse: separate;
    border-spacing: 3px;
    margin: auto;
    padding: 10px;
}

table td{
    text-align: center;
    font-size: 20px;
    text-transform: uppercase;
    padding: 5px;
    cursor: pointer;
    font-weight: bold;
    width: 30px;
    color: #f1f1f1;
    background: rgb(255, 75, 75);
    border : 1px solid rgb(255, 75, 75);
    border-radius: 2px;
    width: 35px;
    height: 35px;
}

table .invisible{
    color: #f1f1f1;
    background: rgb(255, 255, 255);
    border : 1px solid rgb(255, 255, 255);
    cursor: auto;
}

.refresh{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.refresh a{
    text-transform: uppercase;
    background:rgb(255, 75, 75);
    border: 1px solid rgb(255, 75, 75);
    border-radius: 5px;
    padding: 10px 15px;
    color: #f1f1f1;
    text-decoration: none;
}

#mot{
    font-size: 20px;
}

#mot p{
	visibility:hidden;
}

.link{
    text-align: center;
    padding: 35px 0;
}

.link__to{
    padding: 10px 15px;
    background-color: rgb(0, 148, 255);
    color : white;
    text-decoration: none;
    border-radius: 5px;
}